@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.header {
  user-select: none;
}
.cloud_skill {
  color: rgb(48, 48, 48);
  z-index: -1;
  user-select: none;
  font-weight: 500;
}

.cloud_skillLight {
  color: #f9f9f9;
  opacity: 0.7;
  z-index: -1;
  user-select: none;
  font-weight: 500;
}

/* label {
  color: rgba(61, 21, 95, 0.5);
} */

.swiper-pagination-bullet {
  background-color: #4732d3;
  width: 15px;
  height: 15px;
  border-radius: 6px;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #3d155f;
  width: 35px;
  border-radius: 10px;
}

/* placehoder  */
input::placeholder,
textarea::placeholder {
  color: #9a9a9a !important;
}

/* Default styles for the bars */
.bar {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: transform 0.3s ease;
}

.miniNav .bar {
  background-color: #000;
}

.bar.bar1 {
  top: 0;
  right: 0;
  transform: translateY(0);
  width: 100%;
}

.bar.bar2 {
  bottom: 0;
  right: 0;
  transform: translateY(0);
  width: 70%;
}

.bar.bar-space {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 25%;
  background-color: transparent;
}

.opened .bar.bar-space {
  display: none;
}

.opened .bar.bar1 {
  transform: translateY(50%) rotate(45deg);
  /* background-color: #4732d3; */
  top: 5px;
  width: 90%;
}

.opened .bar.bar2 {
  transform: translateY(-50%) rotate(-45deg);
  /* background-color: #4732d3; */
  bottom: 5px;
  width: 90%;
}

/* Nav menu  */
.nav__menu {
  box-shadow: 0 10px 53px 0 rgba(163, 204, 170, 0.3);
}
