/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Space Grotesk", sans-serif;
}

.header {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.cloud_skill {
  color: rgb(48, 48, 48);
  z-index: -1;
  user-select: none;
  font-weight: 500;
}

.cloud_skillLight {
  color: #f9f9f9;
  opacity: 0.7;
  z-index: -1;
  user-select: none;
  font-weight: 500;
}

/* label {
  color: rgba(61, 21, 95, 0.5);
} */

.swiper-pagination-bullet {
  background-color: #4732d3;
  width: 15px;
  height: 15px;
  border-radius: 6px;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #3d155f;
  width: 35px;
  border-radius: 10px;
}

/* placehoder  */
input::placeholder,
textarea::placeholder {
  color: #9a9a9a !important;
}
